<nav class="nav">
  <span class="logo">Formula 1 App</span>
  <span class="nav-btn"><a class="nav-link" routerLink="/drivers" routerLinkActive="active">Drivers</a></span>
  <span class="nav-btn"><a class="nav-link" routerLink="/constructors" routerLinkActive="active">Cronstructors</a></span>
  <span class="nav-btn last"><a class="nav-link" routerLink="/circuits" routerLinkActive="active">Circuits</a></span>
  <span class="mobile-nav" (click)="openMenu()"><img src="assets/img/menu.png" alt=""></span>
</nav>
<div class="mobile-menu" [ngStyle]="isOpened && {'display':'block'}">
  <span class="mobile-btn" (click)="openMenu()"><a class="mobile-link" routerLink="/drivers" routerLinkActive="active">Drivers</a></span>
  <span class="mobile-btn" (click)="openMenu()"><a class="mobile-link" routerLink="/constructors" routerLinkActive="active">Cronstructors</a></span>
  <span class="mobile-btn last" (click)="openMenu()"><a class="mobile-link" routerLink="/circuits" routerLinkActive="active">Circuits</a></span>
</div>
<router-outlet></router-outlet> 
